.emails-input {
	background-color: #FFFFFF;
	border: 1px solid #C3C2CF;
	box-sizing: border-box;
	border-radius: 4px;

	overflow: auto;
	height: 100%;
	padding: 5px;
}

.emails-input__control {
	vertical-align: middle;
	border: none;
	outline: none;
	width: 1em;
	max-width: 100%;
	padding: 0px;
}

.emails-input__control::-ms-clear {
	display: none;
}

.emails-input__control,
.emails-input__control-sizer {
	font-family: Open Sans;
	font-size: 14px;
}

.emails-input__control-sizer {
	position: absolute;
	overflow: hidden;
	width: 0px;
}
