<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="samples-default-form">
			<div class="samples-default-form-body">
				<div class="samples-default-form-title">
					Share <strong>Board name</strong> with others
				</div>

				<div class="samples-default-form-input" id="email-input"></div>
			</div>
			<div class="samples-default-form-actions">
				<button class="samples-default-form-button" id="add-email">Add email</button>
				<button class="samples-default-form-button" id="get-emails-count">Get emails count</button>
			</div>
		</div>
	</body>
</html>
